PORT=3000
AWS_REGION=us-east-1
S3_BUCKET_NAME=nadira-images
AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
STABILITY_API_KEY=your_stability_ai_key
GOOGLE_TRANSLATE_API_KEY=your_google_translate_key
